# Streamlit specific
.streamlit/secrets.toml
.streamlit/config.toml

# Python specific
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data specific (Local DB)
users_auth.json
*.json
!manifest.json

# OS specific
.DS_Store
Thumbs.db
